# secrets:
# LEIN_USERNAME
# LEIN_PASSWORD
# GCP_PROJECT_ID
# GOOGLE_APPLICATION_CREDENTIALS_JSON (base64 encoded)
version: 2.1
orbs:
  codecov: codecov/codecov@1.0.5
jobs:
  test:
    docker:
      - image: circleci/clojure:lein-2.8.1
    environment:
      LEIN_ROOT: "true"
    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "project.clj" }}
          - v1-dependencies-

      - run: lein deps

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "project.clj" }}

      - run:
          name: "run unit tests"
          command: |
            lein kaocha unit --plugin cloverage --codecov

      - codecov/upload:
          file: target/coverage/codecov.json

  integration_test:
    docker:
      - image: circleci/clojure:lein-2.8.1
    environment:
      LEIN_ROOT: "true"
    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "project.clj" }}
          - v1-dependencies-

      - run: lein deps

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "project.clj" }}

      - run:
          name: "run integration tests"
          command: |
            echo $GOOGLE_APPLICATION_CREDENTIALS_JSON  | base64 --decode > GCP_KEY.json
            export GOOGLE_APPLICATION_CREDENTIALS=GCP_KEY.json
            lein kaocha integration --plugin cloverage --codecov

      - codecov/upload:
          file: target/coverage/codecov.json

  publish:
    docker:
      - image: circleci/clojure:lein-2.8.1
    environment:
      LEIN_ROOT: "true"
    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "project.clj" }}
          - v1-dependencies-

      - run:
            lein with-profile ci deploy clojars

workflows:
  version: 2
  lib:
    jobs:
      - test
      - integration_test:
          requires:
            - test
      - publish:
          requires:
            - integration_test
          filters:
            branches:
              only: master
