# secrets:
# LEIN_USERNAME
# LEIN_PASSWORD
# GCP_PROJECT_ID
# GOOGLE_APPLICATION_CREDENTIALS_JSON (base64 encoded)
version: 2
jobs:
  unit_test:
    docker:
      - image: circleci/clojure:lein-2.8.1
    environment:
      LEIN_ROOT: "true"
    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "project.clj" }}
          - v1-dependencies-

      - run: lein deps

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "project.clj" }}

      - run:
          name: "run integration tests"
          command: |
            export GOOGLE_APPLICATION_CREDENTIALS=<(echo $GOOGLE_APPLICATION_CREDENTIALS_JSON  | base64 --decode )
            lein test :integration

  publish:
    docker:
      - image: circleci/clojure:lein-2.8.1
    environment:
      LEIN_ROOT: "true"
    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "project.clj" }}
          - v1-dependencies-

      - run:
            lein with-profile ci deploy clojars

workflows:
  version: 2
  kafka-avro-confluent:
    jobs:
      - unit_test
      - publish:
          requires:
            - unit_test
          filters:
            branches:
              only: master
